<span class="title-groups">
  <a>
    <i class="material-icons">
      Dashboard
    </i>
  </a>
</span>

<mat-sidenav-container class="container">
    <mat-sidenav class="mat-sidenav" mode="side" opened fixedInViewPort="true" fixedTopGap="64">
      <mat-nav-list class="nav-list">
        <a mat-list-item>
            <i class="material-icons">
              home
            </i>
            Início
        </a>
        <a>
          <i class="material-icons">
            storefont
          </i>
          Início
        </a>
      </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
  