
mat-sidenav {
    margin: 16px;
    width: 16%;
    border-right: none;
    background: #465564 padding-box;
    padding: 16px;
    
    text-align: left;
    color: normal normal bold 18px/24px Nunito Sans;
    letter-spacing: 0px;
    //color: #465564;
    opacity: 1;
}

.menuIcones{
    img{
        width: 13px;
        padding-right: 5px;
    }
}

img {
    width: 159px;
}





.menu-button-painel {
    top: 10%;
    width: 100%;
    background: #FFFFFF padding-box;
    border-radius: 0px 31px 28px 0px;
    opacity: 1;
    color: #465564;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;

    mat-icon {
        margin-right: 8px;
    }
}

.menu-button {
    top: 10%;
    width: 100%;
    display: flex;
    color: #FFFFFF;
    border-radius: 0px 31px 28px 0px;
    opacity: 1;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;

    mat-icon {
        margin-right: 8px;
    }
}



.mat-mdc-table {
    width: 100%;
    max-height: 500px;
    overflow: auto;
  }
  
  .mat-column-name {
    height: 100px;
  }

  .mat-expansion-panel {
    top: 10%;
    width: 90%;
    background-color: #465564;
    color: #FFFFFF;
  }

  .mat-expansion-panel-header{
    padding: 0 10%;
  }

  .mat-expansion-indicator{
    color: #FFFFFF;
  }

  .cadastro {
    color: #FFFFFF;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }